
  <div class="info-set-item"><p><strong>{{ content.field_january.0 }}</strong></p></div>
  <div class="info-set-item"><p><strong>{{ content.field_february.0 }}</strong></p></div>
  <div class="info-set-item"><p><strong>{{ content.field_march.0 }}</strong></p></div>
  <div class="info-set-item"><p><strong>{{ content.field_april.0 }}</strong></p></div>
  <div class="info-set-item"><p><strong>{{ content.field_may.0 }}</strong></p></div>
  <div class="info-set-item"><p><strong>{{ content.field_june.0 }}</strong></p></div>
  <div class="info-set-item"><p><strong>{{ content.field_july.0 }}</strong></p></div>
  <div class="info-set-item"><p><strong>{{ content.field_august.0 }}</strong></p></div>
  <div class="info-set-item"><p><strong>{{ content.field_september.0 }}</strong></p></div>
  <div class="info-set-item"><p><strong>{{ content.field_october.0 }}</strong></p></div>
  <div class="info-set-item"><p><strong>{{ content.field_november.0 }}</strong></p></div>
  <div class="info-set-item"><p><strong>{{ content.field_december.0 }}</strong></p></div>
  <div class="info-set-item"><p><strong>{{ content.field_bonus.0 }}</strong></p></div>
  <div class="info-set-item commissions-total"><p><strong>{{ content.field_bonus.0 }}</strong></p></div>
